*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
    background-color: #ffffff;
    color:#000;
    display: flex;
    flex-direction: column;
}
#start{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    height: 100vh;
    width: 98vw;
}
#startt{
    display: flex;
    justify-content: left;
    margin-left: 52px;
}
.box{
    height: 22rem;
    width: 22rem;
    border-radius: 7px;
    background-color: yellow;
    display: flex;
    align-items: center;
}
.box:hover{
    box-shadow: 0px 0px 9px 9px rgb(0 0 0 / 50%);
}
button:hover{
    cursor: pointer;
    box-shadow: 1px 0px 99px 1px rgb(0 0 0/ 100%);
    /*212, 71, 236*/
}
.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 3em;
}
.container .head{
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: 1em;
}
.head h1{
    margin-bottom: 12px;
    font-size: 3vw;
}
.form input{
    width: 30%;
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #fff solid;
}
.form button{
    width: 29%;
    height: 3em;
    margin-top: 1em;
    color: #fff;;
    background-color: red;
    border: none;
    border-radius: 5px;
}
.form .category{
    width: 27%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #fff solid;
    padding: 8px;
}
input:focus{
    outline: none;
}
.display ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.display ul li{
    width: 48%;
    height: 2em;
    font-size: 18px;
    padding: 5px;
    border: 1px #ccc solid;
    border-radius: 5px;
}
li button{
    background-color: transparent;
    border: none;
    font-size: 1em;
    height: 100%;
    color:red;
    border-radius: 5px;
    padding: 0 5px ;
    float: right;
}
#formContainer {
    margin-bottom: 20px;
}
label{
    display: block;
    margin-top: 10px;
} 
button{
    padding: 8px 16px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 07px;
} 
button:hover{
    background-color: yellow;
    color: #000;
} 
table{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
} 
th,
td{
    border: 1px solid #fff;
    padding: 8px;
    text-align: left;
    width: 340;
}
th{
    background-color: yellow;
    color: #000000;
}
table{
    width: 637px;
}
.filter{
    width: 14%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px #fff solid;
    padding: 8px;
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}
.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.4s ease-in-out;
    background-color: white;
    padding-right: 40px;
    color:black;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:black ;
    background-color:transparent;
    pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid black;
    transition: all 1.3s cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 1.5ms cubic-bezier(0, 0.110, 0.35, 2);
}

